<div class="form-content" id="app">
  <div class="div-block-90"></div>
  <div class="w-form">
  <div class="form-wrapper" v-show="viewSummary">
    <div class="p-100 b-border">
      <div class="form-header-wrapper" style="flex-direction: column; margin-bottom: 0;">
        <div style="display: flex; width: 100%;">
          <img 
            src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e85c362fb3c60a93b_arrow-left.svg" 
            loading="lazy" 
            width="36" 
            alt="" 
            style="-webkit-filter: invert(100%); filter: invert(100%); margin-right: 1rem; cursor: pointer;"
            @click.prevent="resetClick"
            v-if="!orderDone"
          >
          <h2 class="text-18" style="margin-bottom: 20px;" v-if="!orderDone">Ändra uppgifter</h2>
          <img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f89a0aadeba3b0aebe9c120_cross.svg" loading="lazy" width="36" data-w-id="7591fd3b-ddbe-8a97-3dea-15a2e26838a9" alt="" style="margin-left: auto;" class="image-4">
        </div>
        <h2 class="form-header" style="margin-bottom: 40px;">Ange dina uppgifter för att fullfölja beställningen.</h2>
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="POST" class="form-2" _lpchecked="1">
            <div style="display: flex; justify-content: space-between;">
              <input style="max-width: 45%;" type="text" autocomplete="name" class="text-field-3 w-input" autofocus="true" maxlength="256" name="Namn" data-name="Namn" placeholder="Namn" id="Namn" required="" :value="name">
              <input style="max-width: 45%;" type="text" autocomplete="street-address" class="text-field-3 w-input" maxlength="256" name="Gatuadress" data-name="Gatuadress" placeholder="Gatuadress" id="Gatuadress" required="" :value="address">
            </div>
            <div style="display: flex; justify-content: space-between;">
              <input style="max-width: 45%;" type="email" autocomplete="email" class="text-field-3 w-input" maxlength="256" name="Mailadress" data-name="Mailadress" placeholder="Mailadress" id="Mailadress" required="" :value="email">
              <input style="max-width: 45%;" type="tel" autocomplete="tel" class="text-field-3 w-input" maxlength="256" name="Telefonummer" data-name="Telefonummer" placeholder="Telefonummer" id="Telefonummer" required="" :value="tel">
            </div>
            <textarea placeholder="Meddelande" maxlength="5000" id="Meddelande" name="Meddelande" data-name="Meddelande" class="text-field-3 meddelande w-input" :value="msg"></textarea>
            <div v-for="(room, i) in rooms" :key="i">
              <div v-if="room.floorSelected">
                <input type="hidden" :value="room.floor.selectedSize" :id="'GolvStorlek' + 'Rum' + i" :name="'GolvStorlek' + 'Rum' + i" :data-name="'GolvStorlek' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.floor.selectedFloorTreatment" :id="'BehandlingAvGolv' + 'Rum' + i" :name="'BehandlingAvGolv' + 'Rum' + i" :data-name="'BehandlingAvGolv' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.floor.doorAmount" :id="'MängdDörrar' + 'Rum' + i" :name="'MängdDörrar' + 'Rum' + i" :data-name="'MängdDörrar' + 'Rum' + i" class="w-input text-field-3">
              </div>
              <div v-if="room.carpentrySelected">
                <input type="hidden" :value="room.carpentry.selectedFloorSize" :id="'GolvStorlekSnickeri' + 'Rum' + i" :name="'GolvStorlekSnickeri' + 'Rum' + i" :data-name="'GolvStorlekSnickeri' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.carpentry.ncsCode" :id="'NCSKodSnickeri' + 'Rum' + i" :name="'NCSKodSnickeri' + 'Rum' + i" :data-name="'NCSKodSnickeri' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.carpentry.selectedDoorWindowAmount" :id="'DörrarOchFönster' + 'Rum' + i" :name="'DörrarOchFönster' + 'Rum' + i" :data-name="'DörrarOchFönster' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.carpentry.selectedSize" :id="'HöjdPåSnickeriet' + 'Rum' + i" :name="'HöjdPåSnickeriet' + 'Rum' + i" :data-name="'HöjdPåSnickeriet' + 'Rum' + i" class="w-input text-field-3">
              </div>
              <div v-if="room.roofSelected">
                <input type="hidden" :value="room.roof.selectedSize" :id="'TakStorlek' + 'Rum' + i" :name="'TakStorlek' + 'Rum' + i" :data-name="'TakStorlek' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.roof.selectedLevelOfPuttyKnife" :id="'MängdSpackel' + 'Rum' + i" :name="'MängdSpackel' + 'Rum' + i" :data-name="'MängdSpackel' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.roof.ncsCode" :id="'NCSKodTak' + 'Rum' + i" :name="'NCSKodTak' + 'Rum' + i" :data-name="'NCSKodTak' + 'Rum' + i" class="w-input text-field-3">
              </div>
              <div v-if="room.wallsSelected">
                <input type="hidden" :value="room.walls.selectedFloorSize" :id="'RumStorlek' + 'Rum' + i" :name="'RumStorlek' + 'Rum' + i" :data-name="'RumStorlek' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.walls.selectedHeight" :id="'HöjdPåVäggarna' + 'Rum' + i" :name="'HöjdPåVäggarna' + 'Rum' + i" :data-name="'HöjdPåVäggarna' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.walls.selectedLevelOfPuttyKnife" :id="'MängdSpackelVäggar' + 'Rum' + i" :name="'MängdSpackelVäggar' + 'Rum' + i" :data-name="'MängdSpackelVäggar' + 'Rum' + i" class="w-input text-field-3">
                <input type="hidden" :value="room.walls.ncsCode" :id="'NCSKodVäggar' + 'Rum' + i" :name="'NCSKodVäggar' + 'Rum' + i" :data-name="'NCSKodVäggar' + 'Rum' + i" class="w-input text-field-3">
              </div>
            </div>
            <input type="hidden" :value="rotPrice()" id="RotPris" name="RotPris" data-name="RotPris" class="w-input text-field-3">
            <input type="submit" value="Submit" data-wait="Please wait..." class="w-button" ref="submitOffert" style="display: none;">
          </form>
          <div class="success-message w-form-done" style="position: unset;" id="successMessage">
            <div class="text-block-3 h2-jumbo left" style="position: unset;">Tack för din beställning. Vi kontaktar dig inom kort för att bekräfta beställningen.</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div v-for="(room, i) in rooms" :key="i">
      <div class="p-100 b-border">
        <div style="display: flex; flex-direction: column;">
          <h2 class="form-header" v-if="i == 0">Sammanställning av renovering.</h2>
          <h2 class="text-20-2"><strong>Rum {{ i + 1 }}.</strong></h2>
        </div>

        <div class="form-section-wrapper" v-if="room.carpentrySelected">
          <div class="text-18 mb-10 light"><strong>Snickerier. </strong>Antal dörrar och fönster, höjd på snickeriet i cm och kvadratmeter golv.</div>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.carpentry.selectedDoorWindowAmount}" v-if="room.carpentry.selectedDoorWindowAmount">
            {{room.carpentry.selectedDoorWindowAmount ? room.carpentry.selectedDoorWindowAmount : 'Antal dörrar och Fönster'}}
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.carpentry.selectedSize}" v-if="room.carpentry.selectedSize">
            {{room.carpentry.selectedSize ? room.carpentry.selectedSize : 'Höjd på snickeri i'}} cm
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.carpentry.selectedFloorSize}" v-if="room.carpentry.selectedFloorSize">
            {{room.carpentry.selectedFloorSize ? room.carpentry.selectedFloorSize + ' kvm' : 'Kvadratmeter Golv'}}
          </a>
          <div class="text-18 mb-10 light mt-30" v-if="room.carpentry.ncsCode"><strong>Snickerier.</strong> NCS-kod för färgen i rummet.</div>
          <h2 class="text-20-2" v-if="room.carpentry.ncsCode">{{room.carpentry.ncsCode}}</h2>
        </div>

        <div class="form-section-wrapper" v-if="room.roofSelected">
          <div class="text-18 mb-10 light"><strong>Tak. </strong>Nivå av spackel och kvadratmeter golv.</div>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.roof.selectedLevelOfPuttyKnife}" v-if="room.roof.selectedLevelOfPuttyKnife">
            {{room.roof.selectedLevelOfPuttyKnife ? room.roof.selectedLevelOfPuttyKnife : 'Nivå av spackel'}}
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.roof.selectedSize}" v-if="room.roof.selectedSize">
            {{room.roof.selectedSize ? room.roof.selectedSize + ' kvm' : 'Kvadratmeter Golv'}}
          </a>
          <div class="text-18 mb-10 light mt-30" v-if="room.roof.ncsCode"><strong>Tak.</strong> NCS-kod för färgen i rummet.</div>
          <h2 class="text-20-2" v-if="room.roof.ncsCode">{{room.roof.ncsCode}}</h2>
        </div>

        <div class="form-section-wrapper" v-if="room.floorSelected">
          <div class="text-18 mb-10 light"><strong>Golv.</strong> Antal trösklar i rummet och kvadratmeter golv.</div>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.floor.doorAmount}" v-if="room.floor.doorAmount">
            {{room.floor.doorAmount ? room.floor.doorAmount + ' Trösklar' : 'Antal Trösklar'}}
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.floor.selectedSize}" v-if="room.floor.selectedSize">
            {{room.floor.selectedSize ? room.floor.selectedSize + ' kvm' : 'Kvadratmeter Golv'}}
          </a>
          <div class="text-18 mb-10 light mt-30" v-if="room.floor.selectedFloorTreatment"><strong>Golv.</strong> Slipning med hårdvaxolja ikluderat.</div>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.floor.selectedFloorTreatment}" v-if="room.floor.selectedFloorTreatment">Slipning med Hårdvaxolja</a>
        </div>

        <div class="form-section-wrapper" v-if="room.wallsSelected">
          <div class="text-18 mb-10 light"><strong>Väggar. </strong>Kvadratmeter golv, mängd spackel och takhöjden i meter.</div>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.walls.selectedFloorSize}" v-if="room.walls.selectedFloorSize">
            {{room.walls.selectedFloorSize ? room.walls.selectedFloorSize + ' kvm' : 'Kvadratmeter golv'}}
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.walls.selectedLevelOfPuttyKnife}" v-if="room.walls.selectedLevelOfPuttyKnife">
            {{room.walls.selectedLevelOfPuttyKnife ? room.walls.selectedLevelOfPuttyKnife : 'Nivå av spackel'}}
          </a>
          <a href="#" class="form-btn w-button" v-bind:class="{active: room.walls.selectedHeight}" v-if="room.walls.selectedHeight">
            {{room.walls.selectedHeight ? room.walls.selectedHeight + ' m' : 'Takhöjd'}}
          </a>
          <div class="text-18 mb-10 light mt-30" v-if="room.walls.ncsCode"><strong>Väggar.</strong> NCS-kod för färgen i rummet.</div>
          <h2 class="text-20-2" v-if="room.walls.ncsCode">{{room.walls.ncsCode}}</h2>
        </div>
      </div>
    </div>
    <div class="form-checkout-section">
      <a href="#" class="form-btn active checkout-btn w-button" @click.prevent="summaryClick" v-if="!orderDone">Begär Offert</a>
      <a href="#" class="form-btn active checkout-btn w-button" @click.prevent="resetClick" v-else>Starta en Ny Order</a>
      <div class="b-border mb-50">
        <div class="text-18 mb-10 light">Pris med rot-avdrag</div>
        <div class="h1-banner ml-40 light">{{rotPrice()}} kr</div>
      </div>
    </div>
  </div>
  <div class="form-wrapper" v-show="!viewSummary" ref="formWrapper">
    <div class="p-100 b-border">
      <div class="form-header-wrapper">
        <h2 class="form-header">Ange information om varje rum som ska renoveras.</h2><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f89a0aadeba3b0aebe9c120_cross.svg" loading="lazy" width="36" data-w-id="7591fd3b-ddbe-8a97-3dea-15a2e26838a9" alt="" class="image-4">
      </div>
    </div>
    <div v-for="(room, i) in rooms" :key="i" style="background-color: white;">
      <div class="p-100 form-section-wrapper" style="background-color: white;">
        <div class="h1-banner mb-10">Rum {{ i + 1 }}  <span class="material-icons" style="cursor: pointer;" @click="deleteRoom(i)">delete</span></div>
        <div class="text-18 mb-10">Tryck på det du behöver renovera i rummet.</div>
        <a href="#" v-bind:class="{ active: room.carpentrySelected }" @click="toggle(i, {carpentry})" class="form-btn w-button">Snickerier</a>
        <a href="#" v-bind:class="{ active: room.roofSelected }" @click="toggle(i, {roof})" class="form-btn w-button">Tak</a>
        <a href="#" v-bind:class="{ active: room.floorSelected }" @click="toggle(i, {floor})" class="form-btn w-button">Golv</a>
        <a href="#" v-bind:class="{ active: room.wallsSelected }" @click="toggle(i, {walls})" class="form-btn w-button">Väggar</a>
      </div>
      <div class="p-100 b-border" v-if="room.carpentrySelected">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
          <div class="w-slider-mask">
            <div class="slide-3 w-slide"></div>
            <div class="slide-4 w-slide"></div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e85c362fb3c60a93b_arrow-left.svg" loading="lazy" alt=""></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e7ad38995453b2252_arrow-right.svg" loading="lazy" alt=""></div>
          <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
        <div class="form-section-wrapper">
          <div class="text-30 margin_bot"><b>Snickerier</b></div>
          <div class="text-18 mb-10 light"><strong>Snickerier. </strong>Ange information om snickeriet i rummet.</div>
          <div data-hover="" data-delay="0" class="dropdown-5 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.carpentry.selectedDoorWindowAmount}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.carpentry.selectedDoorWindowAmount ? room.carpentry.selectedDoorWindowAmount : 'Antal dörrar och Fönster'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.carpentry.selectedDoorWindowAmount = ''; $forceUpdate();">Antal dörrar och Fönster</a>
              <a v-for="i in 10" @click="room.carpentry.selectedDoorWindowAmount = i; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{i}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-5 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.carpentry.selectedSize}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.carpentry.selectedSize ? room.carpentry.selectedSize : 'Höjd på snickeri i'}} cm</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.carpentry.selectedSize = ''; $forceUpdate();">Höjd på snicjer i</a>
              <a v-for="s in carpentry.sizes" @click="room.carpentry.selectedSize = s; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{s}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-5 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.carpentry.selectedFloorSize}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.carpentry.selectedFloorSize ? room.carpentry.selectedFloorSize + ' kvm' : 'Kvadratmeter Golv'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.carpentry.selectedFloorSize = ''; $forceUpdate();">Kvadratmeter Golv</a>
              <a v-for="s in floor.sizes" @click="room.carpentry.selectedFloorSize = s; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{s}}</a>
            </nav>
          </div>
          <div class="text-18 mb-10 light mt-30"><strong>Snickerier.</strong> Skriv in din NCS-kod i fältet under för snickeriet.</div>
          <input type="text" style="border: none; border-bottom: 1px solid black; min-height: 0; padding: 0!important; margin-bottom: 0; max-width: 200px; border-radius: unset;" class="text-field-3 w-input" maxlength="256" name="ncsCode" data-name="ncsCode" v-model="room.carpentry.ncsCode" placeholder="NCS-kod" required>
        </div>
      </div>
      <div class="p-100 b-border" v-if="room.roofSelected">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
          <div class="w-slider-mask">
            <div class="slide-3 w-slide"></div>
            <div class="slide-4 w-slide"></div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e85c362fb3c60a93b_arrow-left.svg" loading="lazy" alt=""></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e7ad38995453b2252_arrow-right.svg" loading="lazy" alt=""></div>
          <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
        <div class="form-section-wrapper">
          <div class="text-30 margin_bot"><b>Tak</b></div>
          <div class="text-18 mb-10 light"><strong>Tak. </strong>Ange information om taket i rummet.</div>
          <div data-hover="" data-delay="0" class="dropdown-3 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.roof.selectedLevelOfPuttyKnife}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.roof.selectedLevelOfPuttyKnife ? room.roof.selectedLevelOfPuttyKnife : 'Nivå av spackel'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.roof.selectedLevelOfPuttyKnife = ''; $forceUpdate();">Nivå av Spackel</a>
              <a v-for="pk in walls.levelOfPuttyKnife" @click="room.roof.selectedLevelOfPuttyKnife = pk; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{pk}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-5 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.roof.selectedSize}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.roof.selectedSize ? room.roof.selectedSize + ' kvm' : 'Kvadratmeter Golv'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.roof.selectedDoorWindowAmount = ''; $forceUpdate();">Kvadratmeter Golv</a>
              <a v-for="s in floor.sizes" @click="room.roof.selectedSize = s; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{s}}</a>
            </nav>
          </div>
          <div class="text-18 mb-10 light mt-30"><strong>Tak.</strong> Skriv in din NCS-kod i fältet under för rummet.</div>
          <input type="text" style="border: none; border-bottom: 1px solid black; min-height: 0; padding: 0!important; margin-bottom: 0; max-width: 200px; border-radius: unset;" class="text-field-3 w-input" maxlength="256" name="ncsCode" data-name="ncsCode" v-model="room.roof.ncsCode" placeholder="NCS-kod" required>
        </div>
      </div>
      <div class="p-100 b-border" v-if="room.floorSelected">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
          <div class="text-block-5">This is some text inside of a div block.</div>
          <div class="w-slider-mask">
            <div class="slide-3 w-slide"></div>
            <div class="slide-4 w-slide">
              <div class="slider-content-wrapper no-bg">
                <div class="text-18 white light">Hårdvaxolja</div>
              </div>
            </div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e85c362fb3c60a93b_arrow-left.svg" loading="lazy" alt=""></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e7ad38995453b2252_arrow-right.svg" loading="lazy" alt=""></div>
          <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
        <div class="form-section-wrapper">
          <div class="text-30 margin_bot"><b>Golv</b></div>
          <div class="text-18 mb-10 light"><strong>Golv.</strong> Ange information om golvet i rummet.</div>
          <div data-hover="" data-delay="0" class="dropdown-2 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.floor.doorAmount}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.floor.doorAmount ? room.floor.doorAmount : 'Antal Trösklar'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.floor.doorAmount = ''; $forceUpdate();">Antal Trösklar</a>
              <a v-for="i in 5" @click="room.floor.doorAmount = i; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{i}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-2 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.floor.selectedSize}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.floor.selectedSize ? room.floor.selectedSize + ' kvm' : 'Kvadratmeter Golv'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.floor.selectedSize = ''; $forceUpdate();">Kvadratmeter Golv</a>
              <a v-for="s in room.floor.sizes" @click="room.floor.selectedSize = s; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{s}}</a>
            </nav>
          </div>
          <div class="text-18 mb-10 light mt-30"><strong>Golv.</strong> Tryck för att ange om du vill ha slipning med hårdvaxolja.</div>
          <div data-hover="" data-delay="0" class="dropdown-2 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.floor.selectedFloorTreatment}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.floor.selectedFloorTreatment ? room.floor.selectedFloorTreatment : 'Välj Färg på Hårdvaxolja'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.floor.selectedFloorTreatment = ''; $forceUpdate();">Välj Färg på Hårdvaxolja</a>
              <a v-for="fc in room.floor.floorTreatmentColors" @click="room.floor.selectedFloorTreatment = fc; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{fc}}</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="p-100 b-border" v-if="room.wallsSelected">
        <div data-animation="slide" data-duration="500" data-infinite="1" class="slider w-slider">
          <div class="w-slider-mask">
            <div class="slide-3 w-slide"></div>
            <div class="slide-4 w-slide"></div>
          </div>
          <div class="left-arrow-2 w-slider-arrow-left"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e85c362fb3c60a93b_arrow-left.svg" loading="lazy" alt=""></div>
          <div class="right-arrow-2 w-slider-arrow-right"><img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f88536e7ad38995453b2252_arrow-right.svg" loading="lazy" alt=""></div>
          <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
        <div class="form-section-wrapper">
          <div class="text-30 margin_bot"><b>Väggar</b></div>
          <div class="text-18 mb-10 light"><strong>Väggar. </strong>Ange information om väggarna i rummet.</div>
          <div data-hover="" data-delay="0" class="dropdown-2 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.walls.selectedFloorSize}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.walls.selectedFloorSize ? room.walls.selectedFloorSize + ' kvm' : 'Kvadratmeter golv'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.walls.selectedFloorSize = ''; $forceUpdate();">Kvadratmeter golv</a>
              <a v-for="s in floor.sizes" @click="room.walls.selectedFloorSize = s; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link" tabindex="0">{{s}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-3 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.walls.selectedLevelOfPuttyKnife}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.walls.selectedLevelOfPuttyKnife ? room.walls.selectedLevelOfPuttyKnife : 'Nivå av spackel'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.walls.selectedLevelOfPuttyKnife = ''; $forceUpdate();">Nivå av spackel</a>
              <a v-for="pk in walls.levelOfPuttyKnife" @click="room.walls.selectedLevelOfPuttyKnife = pk; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{pk}}</a>
            </nav>
          </div>
          <div data-hover="" data-delay="0" class="dropdown-4 w-dropdown" style="z-index: unset;">
            <div class="form-btn select w-dropdown-toggle" v-bind:class="{active: room.walls.selectedHeight}">
              <div class="icon w-icon-dropdown-toggle"></div>
              <div class="text-block-4">{{room.walls.selectedHeight ? room.walls.selectedHeight + ' m' : 'Takhöjd'}}</div>
            </div>
            <nav class="dropdown-list w-dropdown-list" style="z-index: 1000;">
              <a href="#" class="dropdown-link w-dropdown-link" @click="room.walls.selectedHeight = ''; $forceUpdate();">Takhöjd</a>
              <a v-for="h in walls.height" @click="room.walls.selectedHeight = h; $forceUpdate();" href="#" class="dropdown-link w-dropdown-link">{{h}}</a>
            </nav>
          </div>
          <div class="text-18 mb-10 light mt-30"><strong>Väggar.</strong> Skriv in din NCS-kod i fältet under för väggarna.</div>
          <input type="text" style="border: none; border-bottom: 1px solid black; min-height: 0; padding: 0!important; margin-bottom: 0; max-width: 200px; border-radius: unset;" class="text-field-3 w-input" maxlength="256" name="ncsCode" data-name="ncsCode" v-model="room.walls.ncsCode" placeholder="NCS-kod" required>
        </div>
      </div>
    </div>
    <div class="p-100 white flex-center" style="cursor: pointer;" @click="addRoom">
      <img src="https://assets.website-files.com/5f884aeb16efaa7d292518f7/5f9fe09e6894d6feeb59d75b_Vector.svg" loading="lazy" alt="">
      <div class="h1-banner ml-20 light">Addera ett rum.</div>
    </div>
    <div class="form-checkout-section">
      <a href="#" class="form-btn active checkout-btn w-button" @click="summaryClick">Slutför beställning</a>
      <div class="b-border mb-50">
        <div class="text-18 mb-10 light">Pris med rot-avdrag</div>
        <div class="h1-banner ml-40 light">{{rotPrice()}} kr</div>
      </div>
    </div>
  </div>
</div>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      carpentry: {
        selectedFloorSize: '',
        ncsCode: '',
        selectedDoorWindowAmount: 0,
        sizes: [
          "0-40",
          "40-80",
          "80-120",
          "120-160",
          "160-200"
        ],
        selectedSize: ''
      },
      roof: {
        selectedSize: '',
        selectedLevelOfPuttyKnife: '',
        ncsCode: ''
      },
      floor: {
        sizes: [
          "0-10",
          "10-20",
          "20-30",
          "30-40",
          "40-50",
          "50-60"
        ],
        selectedSize: '',
        selectedFloorTreatment: false,
        doorAmount: '',
        floorTreatmentColors: [
          'Vit',
          'Ljusgrå',
          'Honung',
          'Bärnsten',
          'Terra grafit',
          'Svart'
        ]
      },
      walls: {
        height: [
          "1-2",
          "2-3",
          "3-4",
          "4-5",
          "5-6",
          "6-7"
        ],
        selectedHeight: '',
        selectedFloorSize: '',
        levelOfPuttyKnife: [
          "Lite",
          "Mellan",
          "Mycket"
        ],
        selectedLevelOfPuttyKnife: '',
        ncsCode: ''
      },
      rooms: [
        {
          carpentrySelected: false,
          wallsSelected: false,
          floorSelected: false,
          roofSelected: false
        }
      ],
      viewSummary: false,
      name: '',
      address: '',
      email: '',
      tel: '',
      msg: '',
      orderDone: false
    },
    methods: {
      toggle(i, type) {
        const key = Object.keys(type)[0]
        if (this.rooms[i][key]) {
          delete this.rooms[i][key]
          this.rooms[i][key + 'Selected'] = false
        } else {
          this.rooms[i][key] = {...type[key]}
          this.rooms[i][key + 'Selected'] = true
          console.log('loading JS')
          setTimeout(() => {
            this.reloadJs()
            console.log('JS loaded')
          }, 200);
        }
      },
      addRoom() {
        this.rooms.push({
          carpentrySelected: false,
          wallsSelected: false,
          floorSelected: false,
          roofSelected: false
        })
      },
      deleteRoom(i) {
        this.rooms = this.rooms.filter((room, index) => {
          return i != index
        })
      },
      summaryClick() {
        if (!this.viewSummary) {
          this.viewSummary = !this.viewSummary
          this.$forceUpdate()
        } else {
          this.$refs.submitOffert.click()
          let counter = 0
          const that = this
          const interval = setInterval(func, 500);
          function func() {
            if ($('#successMessage').is(':visible')) {
              that.orderDone = true
              that.$forceUpdate()
              clearInterval(interval)
            } else if (counter >= 100) {
              clearInterval(interval)
            }
            counter++
          }
        }
      },
      resetClick() {
        if ($('#email-form').is(':visible')) {
          this.viewSummary = false
        } else {
          this.rooms = [
            {
              carpentrySelected: false,
              wallsSelected: false,
              floorSelected: false,
              roofSelected: false
            }
          ]
          this.name = ''
          this.msg = ''
          this.address = ''
          this.tel = ''
          this.email = ''
          this.viewSummary = false
          this.orderDone = false
          $("#successMessage").css("display", "");
          $("#email-form").css("display", "");
        }
      },
      reloadJs() {
        $('.w-dropdown').off('click')
        $('.w-dropdown').click(function(event) {
          $('.w-dropdown').each((i, dom) => {
            $(dom).children().last().removeClass('w--open')
          })
          if (!$(event.target).hasClass('w-dropdown-link')) {
            $(this).children().last().toggleClass('w--open')
          }
        })

        $(document).off('click')
        $(document).on("click", function(event){
          var $trigger = $(".w-dropdown")
          if($trigger !== event.target && !$trigger.has(event.target).length){
            $('.w-dropdown').each((i, dom) => {
              $(dom).children().last().removeClass('w--open')
            })
          }            
        })
      },
      selectSize(i, s, type) {
        this.rooms[i][type].selectedSize = s
      },
      totalPrice() {
        let cPrice = 0, fPrice = 0, wPrice = 0, rPrice = 0
        this.rooms.forEach(room => {
          if (room.carpentrySelected) {
            let size = room.carpentry.selectedSize ? parseInt(room.carpentry.selectedSize.split('-')[1]) : 0
            let fSize = room.carpentry.selectedFloorSize ? parseInt(room.carpentry.selectedFloorSize.split('-')[1]) : 0
            let dAmout = room.carpentry.selectedDoorWindowAmount
            let väggLängd1 = Math.sqrt(fSize/1.41)
            let väggLängd2 = väggLängd1*1.41
            cPrice += ((fSize ? (3000) : (0)) + (fSize ? (550) : (0)) + (2*väggLängd1*size/100+2*väggLängd2*size/100) * (200+75+50) + dAmout*1000)
          }
          if (room.roofSelected) {
            const spackling = {'': 0, 'Lite': 70, 'Mellan': 120, 'Mycket': 180}
            const spackel = {'': 0, 'Lite': 10, 'Mellan': 20, 'Mycket': 30}
            let size = room.roof.selectedSize ? parseInt(room.roof.selectedSize.split('-')[1]) : 0
            let putty = room.roof.selectedLevelOfPuttyKnife
            rPrice += ((size ? (3000) : (0)) + (size ? (950) : (0)) + size * (110+28+spackel[putty]+spackling[putty]+12))
          }
          if (room.floorSelected) {
            let size = room.floor.selectedSize ? parseInt(room.floor.selectedSize.split('-')[1]) : 0
            let treatment = room.floor.selectedFloorTreatment
            let dAmount = room.floor.doorAmount
            fPrice += ((size ? (3500) : (0)) + size*(treatment ? 300 : 0) + dAmount*200)
          }
          if (room.wallsSelected) {
            const spackling = {'': 0, 'Lite': 50, 'Mellan': 100, 'Mycket': 150}
            const spackel = {'': 0, 'Lite': 10, 'Mellan': 20, 'Mycket': 30}
            let height = room.walls.selectedHeight ? parseInt(room.walls.selectedHeight.split('-')[1]) : 0
            let fSize = room.walls.selectedFloorSize ? parseInt(room.walls.selectedFloorSize.split('-')[1]) : 0
            let putty = room.walls.selectedLevelOfPuttyKnife
            let väggLängd1 = Math.sqrt(fSize/1.41)
            let väggLängd2 = väggLängd1*1.41
            wPrice += ((fSize ? (3000) : (0)) + (fSize ? (1200) : (0)) + 2*(väggLängd1*height+väggLängd2*height) * (100+28+spackel[putty]+spackling[putty]+7))
          }
        }); 
        return Math.round(cPrice + fPrice + wPrice + rPrice)
      },
      rotPrice() {
        return Math.round(this.totalPrice() * 0.7)
      }
    },
    watch: {
      viewSummary: function () {
        console.log('loading JS')
        setTimeout(() => {
          this.reloadJs()
          console.log('JS loaded')
        }, 200);
      }
    },
  })
</script>